
@{
    ViewBag.Title = "CategoryProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Category-Product Graphic</h2>

<div class="container">
    <div class="row">
        <div style="width:500px; height:500px;">
            <img src="@Url.Action("CategoryProduct","Graphics")"/>
        </div>
    </div>
</div>