
@{
    ViewBag.Title = "ProductStockGraphic";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ProductStockGraphic</h2>

<div class="container">
    <div class="row">
        <div style="width:500px; height:500px;">
            <img src="@Url.Action("ProductStockGraphic","Graphics")" />
        </div>
    </div>
</div>